@use '../vars/vars' as v;

.header--1{
    font-size: 14px;
    color: v.$color-secondary;
}
.header--1__icons{
    gap: 20px;
}

.intro--paragraph{
    max-width: 663px;
    width: 100%;
    margin: 0 auto;
   
}    
.header--2__menu{
    gap: 30px;
}
.header--2__icons{
    gap: 25px;
}
.header--1__talk, .header--2__icons{
    padding-right: 4%;
}
.header--1__icons, .header--2__menu{
    padding-left: 4%;
}
.intro--cont__title{
    max-width: 1447px;
    width: 100%;
    margin: 0 auto;
}
.description--paragraph{
    background-image: url("../img/tags.png");
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 555px;
    @include media-breakpoint-down(sm){
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
    }

}
.description--cont{
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
    max-height: 178px;
    margin-top: 295px;
    @include media-breakpoint-down(sm){
        max-height: 100%;
        margin-top: 20px;
    }
}

.description--cont__number{
    gap: 26px;
    @include media-breakpoint-down(sm){
       margin-bottom: 20px;
    }
}
.arrivals--img{
    @include media-breakpoint-down(sm){
        flex-direction: column-reverse;
     }
}
.look--title{
    max-width: 1796px;
    width: 100%;
    margin: 0 auto 76px auto;
    @include media-breakpoint-down(sm){
        margin: 40px 0;
     }
}
.latest--cont__img{
    @include media-breakpoint-down(sm){
        flex-direction: column-reverse;
     }
}
.footer--pay{
    margin: 101px 0 79px 0;
    @include media-breakpoint-down(sm){
        margin-top: 50px;
        font-size: 12px;
     }
}









