$font-family-primary: 'Fraunces, serif';
$font-family-secondary:'Anybody, cursive';
$font-family-title-heard:'Libre Caslon Display,serif';
$color-primary: #191919;
$color-secondary: #9C9C9C;
$color-text-footer: #555555;
$background-color-footer: #E8EEE7;
