.main{
    max-width: 1920px;
    background: #FFFFFF;
}
.intro{
    margin-bottom: 89px;
}
.description{
    margin: 235px 0 204px 0;
}
.arrivals{
    margin-bottom: 138px;
}

.latest{
    background-image: url("C:\PROJECT\aplicacion_tienda_ropa\assets\img\2023.png");
    max-width: 1920px;
    width: 100%;
    height: 1106px;
    margin-top: 89px;
}
.footer{
    background-color:  #E8EEE7;
    height: 593px;
    padding: 88px 140px;
}